<footer class="page-footer font-small blue footer">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> Center Elgam3a</a>
    </div>
    <!-- Copyright -->

</footer>
<script src="../assets/Js/jquery.min.js" ></script>
<script src="../assets/Js/bootstrap.bundle.min.js"></script>
<script src="../assets/Js/bootstrap.min.js" ></script>
<script src="../assets/Js/Script.js" ></script>

</body>

</html>